unpackaged/main/default/flows/Automatically_Assign_Related_Contacts_to_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>var_RecordType_Name_Client</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clients</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Sales_Channel</name>
        <label>Check for Sales Channel</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Channel</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Channel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benelux</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Previous_Sales_Channel_Campaign0</targetReference>
            </connector>
            <label>Sales Channel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>var_Campaign_Name</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Sales_Channel__c},
&#39;Benelux&#39;,&#39;Benelux master&#39;,
&#39;Travel&#39;, &#39;Travel master&#39;, 
&#39;Mobility&#39;,&#39;Mobility master&#39;,
&#39;Insurance&#39;,&#39;Insurance master&#39;,&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <name>var_Previous_Campaign_Name</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record__Prior.Sales_Channel__c},
&#39;Benelux&#39;,&#39;Benelux master&#39;,
&#39;Travel&#39;, &#39;Travel master&#39;, 
&#39;Mobility&#39;,&#39;Mobility master&#39;,
&#39;Insurance&#39;,&#39;Insurance master&#39;,&#39;&#39;)</expression>
    </formulas>
    <interviewLabel>Automatically Assign Related Contacts to Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatically Assign Related Contacts to Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Sales_Channel</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Existing Client</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Related_Contacts_to_Campaign0</name>
        <label>Add Related Contacts to Campaign</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <flowName>Create_Delete_Campaign_Members_Subflow</flowName>
        <inputAssignments>
            <name>var_Account_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Campaign_Name</name>
            <value>
                <elementReference>var_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Mode</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Object_Name</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordType_Developer_Name</name>
            <value>
                <elementReference>var_RecordType_Name_Client</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Delete_Previous_Sales_Channel_Campaign0</name>
        <label>Delete Previous Sales Channel Campaign</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Add_Related_Contacts_to_Campaign0</targetReference>
        </connector>
        <flowName>Create_Delete_Campaign_Members_Subflow</flowName>
        <inputAssignments>
            <name>var_Account_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Campaign_Name</name>
            <value>
                <elementReference>var_Previous_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Mode</name>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Object_Name</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordType_Developer_Name</name>
            <value>
                <elementReference>var_RecordType_Name_Client</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
