unpackaged/main/default/flows/Automatically_Assign_Related_Supplier_Contacts_to_Campaigns.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Account_Stage_Campaign</name>
        <label>Set Account Stage Campaign</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Account_Stage_Campaign_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaing_Members_based_on_Account_Stages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Commerciality_Score_Campaign</name>
        <label>Set Commerciality Score Campaign</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Commerciality_Score_Campaign_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Members_based_on_Commerciality_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Live_Avalability_Campaign</name>
        <label>Set Has Live Avalability Campaign</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Has_Live_Availability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campign_Members_based_on_Live_Availability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_Campaign_Name</name>
        <label>Set Previous Campaign Name</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Previous_Campaign_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Previous_Account_Stage_Campaign_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Previous_Stage_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_Commerciality_Score</name>
        <label>Set Previous Commerciality Score</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>var_Previous_Campaign_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Previous_Commerciality_Score_Campaign_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Previous_Campaign_Members_based_on_Commerciality_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Qualified_Campaign</name>
        <label>Set Qualified Campaign</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Qualified_Campaign_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_based_on_Qualification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Qualified_Campaign_for_Live_Availability</name>
        <label>Set Qualified Campaign for Live Availability</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Has_Live_Availability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_based_on_Live_Availability</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>var_Object_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplier Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>var_Record_Type_Name_Supply</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Supply</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Campaign_Based_on_Commerciality_Score</name>
        <label>Campaign Based on Commerciality Score</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Set_Qualified_Campaign_for_Live_Availability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_Commerciality_Score</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Commerciality_score__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commerciality_score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commerciality_score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commerciality_score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bronze</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commerciality_score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unfavourable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Previous_Commerciality_Score</targetReference>
            </connector>
            <label>SA Commerciality Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_based_on_Live_Availability</name>
        <label>Campaign based on Live Availability</label>
        <locationX>314</locationX>
        <locationY>2087</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Live_Availability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_Live_Availability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Live_Availability__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Live_Avalability_Campaign</targetReference>
            </connector>
            <label>Has Live Availability</label>
        </rules>
        <rules>
            <name>Not_Has_Live_Availability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_Live_Availability__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Live_Availability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Campign_Members_based_on_Live_Availability</targetReference>
            </connector>
            <label>Not Has Live Availability</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_based_on_Qualification</name>
        <label>Campaign based on Qualification</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Campaign_Based_on_Commerciality_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Qualified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Qualified__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Members_based_on_Qualification</targetReference>
            </connector>
            <label>Is Qualified</label>
        </rules>
        <rules>
            <name>is_not_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Qualified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Qualified__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Campaign_Members_from_Qualified_Campaign</targetReference>
            </connector>
            <label>is not Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Qualification_based_on_Account_Stages</name>
        <label>Campaign Qualification based on Account Stages</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Qualified_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Stages</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Stage_Path__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Stage_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Onboard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Stage_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Stage_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Stage_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Terms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Stage_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Content New Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Stage_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Stage_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Content Legacy Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Previous_Campaign_Name</targetReference>
            </connector>
            <label>Account Stages</label>
        </rules>
    </decisions>
    <description>This Flow adds or remove contacts to campaign as campaign members based on the change of field on the Supplier Acount Level</description>
    <environments>Default</environments>
    <formulas>
        <name>var_Account_Stage_Campaign_Name</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Account_Stage_Path__c},
&#39;To Onboard&#39;, &#39;SA to onboard&#39;, 
&#39;New&#39;, &#39;SA new&#39;,
&#39;Parked&#39;, &#39;SA parked&#39;,
&#39;Onboarding Terms&#39;, &#39;SA onboarding terms&#39;,
&#39;Onboarding Content New Supplier&#39;, &#39;SA content NS&#39;,
&#39;Onboarding Content Legacy Supplier&#39;, &#39;SA content LS&#39;,
&#39;SA active&#39;)</expression>
    </formulas>
    <formulas>
        <name>var_Commerciality_Score_Campaign_Name</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Commerciality_score__c},
&#39;Gold&#39;, &#39;Gold commerciality&#39;, 
&#39;Silver&#39;, &#39;Silver commerciality&#39;,
&#39;Bronze&#39;, &#39;Bronze commerciality&#39;,
&#39;Unfavourable commerciality&#39;)</expression>
    </formulas>
    <formulas>
        <name>var_Previous_Account_Stage_Campaign_Name</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record__Prior.Account_Stage_Path__c},
&#39;To Onboard&#39;, &#39;SA to onboard&#39;, 
&#39;New&#39;, &#39;SA new&#39;,
&#39;Parked&#39;, &#39;SA parked&#39;,
&#39;Onboarding Terms&#39;, &#39;SA onboarding terms&#39;,
&#39;Onboarding Content New Supplier&#39;, &#39;SA content NS&#39;,
&#39;Onboarding Content Legacy Supplier&#39;, &#39;SA content LS&#39;,
&#39;SA active&#39;)</expression>
    </formulas>
    <formulas>
        <name>var_Previous_Commerciality_Score_Campaign_Name</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record__Prior.Commerciality_score__c},
&#39;Gold&#39;, &#39;Gold commerciality&#39;, 
&#39;Silver&#39;, &#39;Silver commerciality&#39;,
&#39;Bronze&#39;, &#39;Bronze commerciality&#39;,
&#39;Unfavourable commerciality&#39;)</expression>
    </formulas>
    <interviewLabel>Automatically Assign Related Supplier Contacts to Campaigns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatically Assign Related Supplier Contacts to Campaigns</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campaign_Qualification_based_on_Account_Stages</targetReference>
        </connector>
        <object>Supplier_Accounts__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Campaign_Members_based_on_Commerciality_Score</name>
        <label>Create Campaign Members based on Commerciality Score</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Set_Qualified_Campaign_for_Live_Availability</targetReference>
        </connector>
        <flowName>Create_Delete_Campaign_Members_Subflow</flowName>
        <inputAssignments>
            <name>var_Account_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Campaign_Name</name>
            <value>
                <elementReference>var_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Mode</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Object_Name</name>
            <value>
                <elementReference>var_Object_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordType_Developer_Name</name>
            <value>
                <elementReference>var_Record_Type_Name_Supply</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Campaign_Members_based_on_Qualification</name>
        <label>Create Campaign Members based on Qualification</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Campaign_Based_on_Commerciality_Score</targetReference>
        </connector>
        <flowName>Create_Delete_Campaign_Members_Subflow</flowName>
        <inputAssignments>
            <name>var_Account_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Campaign_Name</name>
            <value>
                <elementReference>var_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Mode</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Object_Name</name>
            <value>
                <elementReference>var_Object_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordType_Developer_Name</name>
            <value>
                <elementReference>var_Record_Type_Name_Supply</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Campaing_Members_based_on_Account_Stages</name>
        <label>Create Campaing Members based on Account Stages</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Set_Qualified_Campaign</targetReference>
        </connector>
        <flowName>Create_Delete_Campaign_Members_Subflow</flowName>
        <inputAssignments>
            <name>var_Account_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Campaign_Name</name>
            <value>
                <elementReference>var_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Mode</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Object_Name</name>
            <value>
                <elementReference>var_Object_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordType_Developer_Name</name>
            <value>
                <elementReference>var_Record_Type_Name_Supply</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Campign_Members_based_on_Live_Availability</name>
        <label>Create Campign Members based on Live Availability</label>
        <locationX>50</locationX>
        <locationY>2303</locationY>
        <flowName>Create_Delete_Campaign_Members_Subflow</flowName>
        <inputAssignments>
            <name>var_Account_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Campaign_Name</name>
            <value>
                <elementReference>var_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Mode</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Object_Name</name>
            <value>
                <elementReference>var_Object_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordType_Developer_Name</name>
            <value>
                <elementReference>var_Record_Type_Name_Supply</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Delete_Campaign_Members_from_Qualified_Campaign</name>
        <label>Delete Campaign Members from Qualified Campaign</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Campaign_Based_on_Commerciality_Score</targetReference>
        </connector>
        <flowName>Create_Delete_Campaign_Members_Subflow</flowName>
        <inputAssignments>
            <name>var_Account_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Campaign_Name</name>
            <value>
                <elementReference>var_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Mode</name>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Object_Name</name>
            <value>
                <elementReference>var_Object_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordType_Developer_Name</name>
            <value>
                <elementReference>var_Record_Type_Name_Supply</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Delete_Campign_Members_based_on_Live_Availability</name>
        <label>Delete Campign Members based on Live Availability</label>
        <locationX>314</locationX>
        <locationY>2195</locationY>
        <flowName>Create_Delete_Campaign_Members_Subflow</flowName>
        <inputAssignments>
            <name>var_Account_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Campaign_Name</name>
            <value>
                <elementReference>var_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Mode</name>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Object_Name</name>
            <value>
                <elementReference>var_Object_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordType_Developer_Name</name>
            <value>
                <elementReference>var_Record_Type_Name_Supply</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Delete_Previous_Campaign_Members_based_on_Commerciality_Score</name>
        <label>Delete Previous Campaign Members based on Commerciality Score</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Set_Commerciality_Score_Campaign</targetReference>
        </connector>
        <flowName>Create_Delete_Campaign_Members_Subflow</flowName>
        <inputAssignments>
            <name>var_Account_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Campaign_Name</name>
            <value>
                <elementReference>var_Previous_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Mode</name>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Object_Name</name>
            <value>
                <elementReference>var_Object_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordType_Developer_Name</name>
            <value>
                <elementReference>var_Record_Type_Name_Supply</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Delete_Previous_Stage_Campaign_Members</name>
        <label>Delete Previous Stage Campaign Members</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Set_Account_Stage_Campaign</targetReference>
        </connector>
        <flowName>Create_Delete_Campaign_Members_Subflow</flowName>
        <inputAssignments>
            <name>var_Account_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Campaign_Name</name>
            <value>
                <elementReference>var_Previous_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Mode</name>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Object_Name</name>
            <value>
                <elementReference>var_Object_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordType_Developer_Name</name>
            <value>
                <elementReference>var_Record_Type_Name_Supply</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_Campaign_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Has_Live_Availability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Has live availability</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Previous_Campaign_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Qualified_Campaign_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Qualified suppliers</stringValue>
        </value>
    </variables>
</Flow>
