unpackaged/main/default/flows/Case_After_Flow_Milestone_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Case_Partially_Resolved</name>
        <label>Case Partially Resolved</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_resolved_partially</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Milestone_Update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes resolved partially</label>
        </rules>
    </decisions>
    <description>This flow is migrated version of process builder - &quot;Milestone Process&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Case After Flow - Milestone Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Flow - Milestone Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Milestone_Start_Time</name>
        <label>Update Milestone Start Time</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_visible_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.Case_Report_Time_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.CaseMilestones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_visible_field</name>
        <label>Update visible field</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Case_Partially_Resolved</targetReference>
        </connector>
        <inputAssignments>
            <field>When_Was_The_Case_Reported__c</field>
            <value>
                <elementReference>$Record.Case_Report_Time_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Milestone_Start_Time</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Subflow_Milestone_Update</name>
        <label>Subflow -Milestone Update</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <flowName>Milestone_Update</flowName>
        <inputAssignments>
            <name>CurrCaseID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
