unpackaged/main/default/flows/Create_Delete_Campaign_Members_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Store All Related Contacts to ContactIds Variable</description>
        <name>All_Contact_Ids</name>
        <label>All Contact Ids</label>
        <locationX>1449</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Found_Contacts</name>
        <label>Assign Found Contacts</label>
        <locationX>1427</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FoundContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Client_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Null0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Found_Contacts0</name>
        <label>Assign Found Contacts</label>
        <locationX>1955</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FoundContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Supplier_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Null0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CampMemberAssignment</name>
        <label>CampMemberAssignment</label>
        <locationX>1058</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>campMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Campign_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CampMemberAssignment_0</name>
        <label>CampMemberAssignment</label>
        <locationX>138</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>campMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NonExistentContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NonExistentContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fetch_Existing_Ids</name>
        <label>Fetch Existing Ids</label>
        <locationX>520</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ExistingContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CampaignMember.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CampaignMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Non_Existent_Contacts</name>
        <label>Remove Non Existent Contacts</label>
        <locationX>432</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>ContactIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ExistingContactIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Remaining_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Camp_Members</name>
        <label>Check for Camp Members</label>
        <locationX>701</locationX>
        <locationY>2774</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Members</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Non_Exisitng_Records</name>
        <label>Check for Non Exisitng Records</label>
        <locationX>158</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Check_for_Camp_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Non_Existing_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NonExistentContact</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if some related contacts already a part of the campaign</description>
        <name>Check_for_Null</name>
        <label>Check for Null</label>
        <locationX>701</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Create_Campign_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create All Cons to Campaign</defaultConnectorLabel>
        <rules>
            <name>Campaign_Members_Exisits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Exisiting_Campaing_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CampaignMember</targetReference>
            </connector>
            <label>Campaign Members Exisits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Null0</name>
        <label>Check for Null</label>
        <locationX>1955</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Contacts_Exists</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Related_Supplier_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Related_Client_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact</targetReference>
            </connector>
            <label>Related Contacts Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Null_for_Delete</name>
        <label>Check for Null for Delete</label>
        <locationX>1493</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Exisiting_Campaing_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Campaign_Members</targetReference>
            </connector>
            <label>Not Null Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Remaining_Contacts</name>
        <label>Check for Remaining Contacts</label>
        <locationX>432</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Check_for_Camp_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remaining_Contacts_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Existing_Contacts</targetReference>
            </connector>
            <label>Remaining Contacts Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_sObject</name>
        <label>Check for sObject</label>
        <locationX>1955</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_for_Null0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Client_Contacts</targetReference>
            </connector>
            <label>Is Account</label>
        </rules>
        <rules>
            <name>Is_Supplier_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Supplier_Contacts</targetReference>
            </connector>
            <label>Is Supplier Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Delete</name>
        <label>Create / Delete</label>
        <locationX>1361</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Mode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Null</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Mode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Null_for_Delete</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create / Delete Campaign Members Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create / Delete Campaign Members Subflow</label>
    <loops>
        <name>CampaignMember</name>
        <label>CampaignMember</label>
        <locationX>432</locationX>
        <locationY>1490</locationY>
        <collectionReference>Exisiting_Campaing_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fetch_Existing_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Non_Existent_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>1361</locationX>
        <locationY>866</locationY>
        <collectionReference>FoundContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>All_Contact_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Exisiting_Campaing_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Campign_Members</name>
        <label>Create Campign Members</label>
        <locationX>970</locationX>
        <locationY>1490</locationY>
        <collectionReference>FoundContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CampMemberAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Camp_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>NonExistentContact</name>
        <label>NonExistentContact</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <collectionReference>Non_Existing_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CampMemberAssignment_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Camp_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Members</name>
        <label>Create Campaign Members</label>
        <locationX>437</locationX>
        <locationY>2882</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <inputReference>campMembers</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Campaign_Members</name>
        <label>Delete Campaign Members</label>
        <locationX>1229</locationX>
        <locationY>1490</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <inputReference>Exisiting_Campaing_Members</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Campaign</name>
        <label>Campaign</label>
        <locationX>1955</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_sObject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Campaign_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contact_Record_Type</name>
        <label>Contact Record Type</label>
        <locationX>1955</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordType_Developer_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the contacts which are part of this campaign</description>
        <name>Exisiting_Campaing_Members</name>
        <label>Exisiting Campaing Members</label>
        <locationX>1361</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Delete</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Non_Existing_Contacts</name>
        <label>Non Existing Contacts</label>
        <locationX>158</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Non_Exisitng_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Client_Contacts</name>
        <label>Related Client Contacts</label>
        <locationX>1427</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Found_Contacts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Account_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DoNotCall</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Supplier_Contacts</name>
        <label>Related Supplier Contacts</label>
        <locationX>1955</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Found_Contacts0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Supplier_Accounts__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Account_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DoNotCall</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1829</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Fault_Email</name>
        <label>Send Fault Email</label>
        <locationX>2813</locationX>
        <locationY>350</locationY>
        <flowName>Generic_Send_Email_on_Fault_Subflow</flowName>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Automatically Assign Related Conatcts to Campaign</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>campMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>campMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ExistingContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoundContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Campaign_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Mode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Object_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecordType_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
