unpackaged/main/default/flows/Create_Time_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <interviewLabel>Create Time Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Time Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>510</locationX>
        <locationY>276</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Report_Time_Date__c</field>
            <value>
                <elementReference>ReportTimeDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>When_was_the_case_initially_Reported</name>
        <label>When was the case initially Reported?</label>
        <locationX>517</locationX>
        <locationY>67</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Cases</targetReference>
        </connector>
        <fields>
            <name>Explain</name>
            <fieldText>&lt;p&gt;If the case was reported outside of working hours please indicate the exact time and date of when the case was reported. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReportTimeDate</name>
            <dataType>DateTime</dataType>
            <fieldText>When Was the Case Initially Reported?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>When_was_the_case_initially_Reported</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
