unpackaged/main/default/flows/Gas_Certificate_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_30_day_expiry_email</name>
        <label>Send 30 day expiry email</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Supplier_Buildings__c.GS_expiry_30_days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Supplier_Buildings__c.GS_expiry_30_days</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_7_day_expiry_email</name>
        <label>Send 7 day expiry email</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>Supplier_Buildings__c.GS_expiry_7days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Supplier_Buildings__c.GS_expiry_7days</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_tomorrow_expiry_email</name>
        <label>Send tomorrow expiry email</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <actionName>Supplier_Buildings__c.GS_expiry_tomorrow</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Supplier_Buildings__c.GS_expiry_tomorrow</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_expiry_date</name>
        <label>Check expiry date</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No GS</defaultConnectorLabel>
        <rules>
            <name>GS_Expires_in_30_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gas_Certificate_Expiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_30_day_expiry_email</targetReference>
            </connector>
            <label>GS Expires in 30 days?</label>
        </rules>
        <rules>
            <name>GS_Expiry_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gas_Certificate_Expiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_7_day_expiry_email</targetReference>
            </connector>
            <label>GS Expiry 7 days?</label>
        </rules>
        <rules>
            <name>GS_Expiry_Tomorrow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gas_Certificate_Expiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_tomorrow_expiry_email</targetReference>
            </connector>
            <label>GS Expiry Tomorrow?</label>
        </rules>
    </decisions>
    <description>Notify suppliers about their gas certificate expiry dates</description>
    <environments>Default</environments>
    <formulas>
        <name>TodayPlus1</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE (TODAY ())  + 1</expression>
    </formulas>
    <formulas>
        <name>TodayPlus30</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE (TODAY ())  + 30</expression>
    </formulas>
    <formulas>
        <name>TodayPlus7</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE (TODAY ())  + 7</expression>
    </formulas>
    <interviewLabel>Gas Certificate Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gas Certificate Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_expiry_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Gas_Applicable_in_This_Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Gas_Certificate_Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>No_Auto_Emails__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Supplier_Buildings__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-15</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
