unpackaged/main/default/flows/Opportunity_After_Flow_Opportunity_to_Account_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Owned_by_the_tech_team</name>
        <label>Owned by the tech team</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_is_tech_team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tech_Team_User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account_owner</targetReference>
            </connector>
            <label>Yes Owner is tech team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Won_or_lost</name>
        <label>Won or lost?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Tech_Team_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_New_Client</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Won</label>
        </rules>
        <rules>
            <name>Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lost1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Lost</label>
        </rules>
    </decisions>
    <description>This flow contains the migrated version on process builder - &quot;Opportunity to Account Updates&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity After Flow -  Opportunity to Account Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Flow -  Opportunity to Account Updates V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Tech_Team_User</name>
        <label>Tech Team User</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owned_by_the_tech_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tech Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_New_Client</name>
        <label>Account New Client</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Tech_Team_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Client</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lost1</name>
        <label>Lost</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Tech_Team_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Lost Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account_owner</name>
        <label>Update account owner</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Forecast_and_Bus_Dev_Info_on_Account</name>
        <label>Update Forecast and Bus Dev Info on Account</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Won_or_lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Average_Budget__c</field>
            <value>
                <elementReference>$Record.Average_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Length_of_Stay__c</field>
            <value>
                <elementReference>$Record.Average_Length_of_Stay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Frequency__c</field>
            <value>
                <elementReference>$Record.Booking_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Suppliers__c</field>
            <value>
                <elementReference>$Record.Current_Suppliers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Annual_Revenue__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_Do_They_Book__c</field>
            <value>
                <elementReference>$Record.Where_Do_They_Book__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_Books_Accommodation__c</field>
            <value>
                <elementReference>$Record.Who_Books_Accommodation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Forecast_and_Bus_Dev_Info_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
