unpackaged/main/default/flows/Sup_contacts_to_contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Sort_contacts</name>
        <label>Sort contacts</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>exists</defaultConnectorLabel>
        <rules>
            <name>exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contatcs.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Email__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_news_sup_contacs</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sup contacts to contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sup contacts to contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_news_sup_contacs</name>
        <label>Create news sup contacs</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Content_Manager__c</field>
            <value>
                <elementReference>$Record.Content_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoNotCall</field>
            <value>
                <elementReference>$Record.Do_Not_Call__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Point__c</field>
            <value>
                <elementReference>$Record.Escalation_Point__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <elementReference>$Record.Do_Not_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Finance_Department__c</field>
            <value>
                <elementReference>$Record.Is_Finance_Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Sales__c</field>
            <value>
                <elementReference>$Record.Is_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128e000000XkyLAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reservations_Contact__c</field>
            <value>
                <elementReference>$Record.Reservations_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Accounts__c</field>
            <value>
                <elementReference>$Record.Supplier_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supply_Contact_ID__c</field>
            <value>
                <elementReference>$Record.Supplier_Contact_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_contatcs</name>
        <label>get contatcs</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128e000000XkyLAAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_contatcs</targetReference>
        </connector>
        <object>Supplier_Contacts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
