unpackaged/main/default/flows/Supplier_Notifications_PL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_30_day_expiry_email</name>
        <label>Send 30 day expiry email</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Supplier_Accounts__c.Pl_expiry_30days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Supplier_Accounts__c.Pl_expiry_30days</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_7_day_notification</name>
        <label>Send 7 day notification</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>Supplier_Accounts__c.Pl_expiry_7days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Supplier_Accounts__c.Pl_expiry_7days</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_tomorrow_expiry_email</name>
        <label>Send tomorrow expiry email</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <actionName>Supplier_Accounts__c.Pl_expiry_Tomorrow</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Supplier_Accounts__c.Pl_expiry_Tomorrow</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_expiry_time</name>
        <label>Check expiry time</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>NO PL</defaultConnectorLabel>
        <rules>
            <name>PL_Expires_in_30_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Public_Liability_Expiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Todayplus30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_30_day_expiry_email</targetReference>
            </connector>
            <label>PL Expires in 30 days?</label>
        </rules>
        <rules>
            <name>Expires_in_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Public_Liability_Expiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Todayplus7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_7_day_notification</targetReference>
            </connector>
            <label>PL Expires in 7 days?</label>
        </rules>
        <rules>
            <name>PL_Expires_Tomorrow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Public_Liability_Expiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Todayplus1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_tomorrow_expiry_email</targetReference>
            </connector>
            <label>PL Expires Tomorrow?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Todayplus1</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE (TODAY ())  + 1</expression>
    </formulas>
    <formulas>
        <name>Todayplus30</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE (TODAY ())  + 30</expression>
    </formulas>
    <formulas>
        <name>Todayplus7</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE (TODAY ())  + 7</expression>
    </formulas>
    <interviewLabel>Supplier Notifications PL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Supplier Notifications PL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_expiry_time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>No_Auto_Emails__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Supplier_Accounts__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-08</startDate>
            <startTime>00:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
