unpackaged/main/default/flows/Survey_Identification_Update_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>This flow is migrated version of process builder - Survey Identification</description>
    <environments>Default</environments>
    <interviewLabel>Survey Identification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Identification - Update Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Responder_EMail</name>
        <label>Update Responder EMail</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Subflow_Survey_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Responders_Email__c</field>
            <value>
                <elementReference>$Record.ArdiraSurvey__Answer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ArdiraSurvey__Survey_Result__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Responder_EMail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ArdiraSurvey__Answer_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ArdiraSurvey__Question_Result__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Survey_Flow</name>
        <label>Subflow - Survey Flow</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <flowName>Test_Survey_Flow</flowName>
        <inputAssignments>
            <name>SurveyEmail</name>
            <value>
                <elementReference>$Record.ArdiraSurvey__Answer_Email__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
