unpackaged/main/default/flows/test_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>tomorrow_notify</name>
        <label>tomorrow notify</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Supplier_Accounts__c.Pl_expiry_Tomorrow</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Supplier_Accounts__c.Pl_expiry_Tomorrow</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X30_not</name>
        <label>30 not</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Supplier_Accounts__c.Pl_expiry_30days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Supplier_Accounts__c.Pl_expiry_30days</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X7notification</name>
        <label>7notification</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Supplier_Accounts__c.Pl_expiry_7days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Supplier_Accounts__c.Pl_expiry_7days</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_expiry_date</name>
        <label>Check expiry date</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>D30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Public_Liability_Expiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>todayplus30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X30_not</targetReference>
            </connector>
            <label>30</label>
        </rules>
        <rules>
            <name>D7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Public_Liability_Expiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Todayplus7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7notification</targetReference>
            </connector>
            <label>7</label>
        </rules>
        <rules>
            <name>Tomorrow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Public_Liability_Expiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>tomorrow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tomorrow_notify</targetReference>
            </connector>
            <label>Tomorrow</label>
        </rules>
    </decisions>
    <formulas>
        <name>todayplus30</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE (TODAY ())  + 30</expression>
    </formulas>
    <formulas>
        <name>Todayplus7</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE (TODAY ())  + 7</expression>
    </formulas>
    <formulas>
        <name>tomorrow</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE (TODAY ())  + 1</expression>
    </formulas>
    <interviewLabel>test flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_expiry_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Public_Liability__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Supplier_Accounts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
