unpackaged/main/default/flows/Test_Survey_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Test Survey Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Target_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_response</name>
        <label>Get response</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ArdiraSurvey__Answer_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ArdiraSurvey__Question_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Target_Record_ID</name>
        <label>Update Target Record ID</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Responders_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyEmail</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ArdiraSurvey__Assigned_To_Contact__c</field>
            <value>
                <elementReference>Get_Contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArdiraSurvey__Assignee_Type__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArdiraSurvey__Target_Contact__c</field>
            <value>
                <elementReference>Get_Contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArdiraSurvey__Target_Record_Id__c</field>
            <value>
                <elementReference>Get_Contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ArdiraSurvey__Survey_Result__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_response</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SurveyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
