unpackaged/main/default/flows/Update_Company_Field_on_Partner_Leads_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_if_Company_is_no_company</name>
        <label>Check if Company is [no company]</label>
        <locationX>776</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Decision_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue to Existing Logic</defaultConnectorLabel>
        <rules>
            <name>Company_is_no_company</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[no company]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[not provided]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Decision_1</targetReference>
            </connector>
            <label>Company is [no company]</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Decision_1</name>
        <label>Copy 1 of Decision 1</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Defult</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Trading_name_is_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trading_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trading_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Legal_Entity_Name</targetReference>
            </connector>
            <label>Copy 1 of Trading name is blank</label>
        </rules>
        <rules>
            <name>Copy_1_of_Trading_Name_is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trading_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Trading_Name</targetReference>
            </connector>
            <label>Copy 1 of Trading Name is Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>1238</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Defult</defaultConnectorLabel>
        <rules>
            <name>Trading_name_is_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trading_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trading_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Entity_Name</targetReference>
            </connector>
            <label>Trading name is blank</label>
        </rules>
        <rules>
            <name>Trading_Name_is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trading_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trading_Name</targetReference>
            </connector>
            <label>Trading Name is Not Blank</label>
        </rules>
        <rules>
            <name>Both_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trading_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal_Entity_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Blank</label>
        </rules>
    </decisions>
    <description>This version includes additional logic to handle leads with the Company field set to &quot;[no company]&quot;. It checks for a Trading Name or Legal Entity Name to populate the Company field for these leads, ensuring no leads remain with the default placeholder value.</description>
    <environments>Default</environments>
    <interviewLabel>Update Company Field on Partner Leads V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Company Update v5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Legal_Entity_Name</name>
        <label>Copy 1 of Legal Entity Name</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Legal_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Trading_Name</name>
        <label>Copy 1 of Trading Name</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Trading_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Legal_Entity_Name</name>
        <label>Legal Entity Name</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Legal_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Trading_Name</name>
        <label>Trading Name</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Trading_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Company_is_no_company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trading_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Blank Value (Empty String)</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012N1000000cw9RIAQ</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
